* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  background-color: rgb(243, 243, 243);
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  height: 120px;
  align-items: center;
}
.menu button,
.note-panel .save,
.note-panel .cancel {
  padding: 12px 25px;
  background: none;
  border: 1px solid #999;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s color 0.3s;
}
.menu button:hover,
.note-panel .save:hover,
.note-panel .cancel:hover {
  background-color: #333;
  color: #ddd;
}
.icon {
  margin-right: 10px;
}

.add {
  margin-right: 20px;
}
.note-area {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}

.note {
  margin: 40px 20px;
  width: 240px;
  background-color: rgb(255, 243, 0);
  border: 1px solid black;
}

.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.06);
}
.note-header .delete-note {
  background: none;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}
.note-header .delete-note:hover {
  transform: rotate(180deg);
}
.note-body {
  padding: 20px 15px;
  font-size: 14px;
}

.note-panel {
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 0;
  width: 600px;
  background-color: #fff;
  box-shadow: 0 0 10px black;
  border-radius: 5px;
}
.note-panel h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.note-panel label {
  margin-bottom: 10px;
}
.note-panel #text,
.note-panel #category {
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 100%;
  max-width: 90%;
  min-width: 60%;
  max-height: 300px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid black;
}

.note-panel .error {
  margin-bottom: 20px;
  color: red;
  visibility: hidden;
}
#text {
  min-height: 100px;
  max-width: 40%;
}
